<% include partials/header %>
<section class="py-3">
<div class="container">
    <div class="row">
        <div class="col-md-6">
           <h1 class="display-3 mt-3 pt-5">
              Web Development Ebook
           </h1>
           <p class="lead">
              learn web development front to back 
           </p>
            <form action="/charge" method="POST">
              <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= stripePublishableKey %>"
                    data-amount="2500"
                    data-name="Oas Digital"
                    data-description="charge"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
            </script>
            </form>
        </div>
        <div class="col-md-6">
            
                <img class="img-fluid" src="https://raw.githubusercontent.com/bradtraversy/ebookseller/master/public/img/book.png">
            
            
        </div>
    </div>
</div>
</section>


<% include partials/footer %>