<% include partials/header %>
<section class="py-3">
<div class="container">
    
        <p class="lead">
            Your payment was successfull. You'll receive your ebook in one business day.
        </p>
        
        <p class="lead">
            Thank you for your purchase.
        </p>
        <div>
            <a class="btn btn-lg btn-success" href="/">Go Back</a>
        </div>
        
    
</div>
</section>
<% include partials/footer %>